.login{
    background-color: #00cfcf; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
  }
  .LoginScreen{
    display: flex;
    margin-top: 400px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }